# env files (can opt-in for committing if needed)

# env files (can opt-in for committing if needed)
# Ignore tất cả file env
.env
.env.local
.env.*.local

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions