extend baseEmail
block content
    p Xin chào, #{name}
    p Quên mật khẩu? Vui lòng truy cập link sau để thay đổi mật khẩu: #{data}.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${data}`, target='_blank') Đặt lại mật khẩu
    p Nếu bạn không quên mạt khẩu thì hãy bỏ qua mail này!